{% extends "base.html.twig" %}

{% block body %}

    <section>
        <div class="container">
            <h2>Objets perdus</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>picture</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Departement</th>
                </tr>
                </thead>
                <tbody >
                {% for lostobject in lostobjects %}
                    <tr>
                        <td>{{ lostobject.title }}</td>
                        <td><img src="{{ asset('uploads/' ~ lostobject.picture) }}" alt="{{ lostobject.title }}" class="taille-img"></td>
                        <td></td>
                        <td>{{ lostobject.eventAt|date("d/m/y") }}</td>
                        <td>{{ lostobject.category.label }}</td>
                        <td>{{ lostobject.county.label }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
